<div *ngIf="artist" class="main-container animated fadeIn fast">
  <div class="row">
    <div class="col-md-3 text-center">
      <img [src]="artist.images | nophoto" class="img-thumbnail img-circle" />
      <br/>
    </div>

    <div class="col-md-9">
      <h3>{{ artist.name }} <small>Popularidad {{ artist.popularity }}</small></h3>
      <hr/>
      <a class="btn btn-outline-success"
         [href]="artist.external_urls?.spotify">
        Ver página
      </a>

      <a [routerLink]="['/buscar']">
        Regresar
      </a>
    </div>
  </div>
</div>

<div *ngIf="tracks">
  <h3>Top de {{ artist.name }}</h3>

  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Canción</th>
              <th>Popularidad</th>
              <th>Preview</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let track of tracks; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img class="img-fluid img-thumbnail img-50"
                     [alt]="track.album" [src]="track.album?.images | nophoto"/>
              </td>
              <td>{{ track.name }}</td>
              <td>{{ track.popularity }}%</td>
              <td>
                <audio controls>
                  <source [src]="track.preview_url"/>
                  ¡Tu navegador es muy viejo!
                </audio>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
