<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscador de artistas</label>
      <input class="form-control"
             type="text"
             (keyup)="searchArtist()"
             [(ngModel)]="termino"
             name="termino"
             placeholder="Buscar por artista..." />
      <hr/>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 text-center puntero"
             *ngFor="let artist of spotify.artists"
             [routerLink]="['/artist', artist.id]">
          <img class="img-fluid img-thumbnail" [src]="artist.images | nophoto" [alt]="artist.name">
          <p class="text-center">
            {{ artist.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
